.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 1040;
}

.modalContainer {
  z-index: 1050;
  display: block;
}

.customRounded {
  border-radius: 0.75rem;
}

.modalContentCard {
  border-radius: 1.25rem;
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
